<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Stock Data</title>
</head>
<body>
   <h1>{{stock_symbol}}</h1>

   <table style="width:100%">
   <tr>
       <td>Date</td>
       <td>Open</td>
       <td>High</td>
       <td>Low</td>
       <td>Close</td>
       <td>Volume</td>
   </tr>
   {% for d in stock_data %}
   <tr>
    <td>{{d}}</td>
    <td>{{stock_data[d]['1. open']}}</td>
    <td>{{stock_data[d]['2. high']}}</td>
    <td>{{stock_data[d]['3. low']}}</td>
    <td>{{stock_data[d]['4. close']}}</td>
    <td>{{stock_data[d]['5. volume']}}</td>
   </tr>
   {% endfor %}
   </table>

</body>
</html>