<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kratai Bin - Collect</title>
    <script>
        var numTumThai;
        var numTumPoo;
        function init() {
            numTumThai = {{numTumThai}};
            numTumPoo = {{numTumPoo}};

            setTimeout("document.form.submit();", 5000);

            document.addEventListener('click', function(e) {
                if (e.target.className == 'TumThai') {
                    e.target.remove();
                    numTumThai--;
                    document.getElementById('numTumThaiRemain').value = numTumThai;
                } else if (e.target.className == 'TumPoo') {
                    e.target.remove();
                    numTumPoo--;
                    document.getElementById('numTumPooRemain').value = numTumPoo;
                }
                if (numTumThai+numTumPoo==0)
                    document.form.submit();
            });
        }

    </script>
</head>
<body onload="init()">
   <h1>Please collect your items</h1>

   {% for _ in range(numTumThai) %}
   <img class="TumThai" src="{{ url_for('static', filename='tum_thai.jpg') }}" alt="Tum Thai" width="275" height="183">
   {% endfor %}
   <br/>
   {% for _ in range(numTumPoo) %}
   <img class="TumPoo" src="{{ url_for('static', filename='tum_poo.jpg') }}" alt="Tum Poo" width="275" height="183">
   {% endfor %}

   <form name="form" id="form" action="/kratai-bin/check_collect" method="get">
   <br>
   <input type="hidden" name="numTumThaiRemain" id="numTumThaiRemain" value="{{numTumThai}}">
   <input type="hidden" name="numTumPooRemain" id="numTumPooRemain" value="{{numTumPoo}}">
   <input type="submit" name="btn_done" id="btn_done" value="Collect" style="display:none;">
   </form>

</body>
</html>