<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kratai Bin - Confirm</title>
</head>
<body>
   <h1>Confirm</h1>
   <form action="/kratai-bin/pay" method="get">
    <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Tum Thai</td>
            <td><span id="msg_num_tum_thai">{{numTumThai}}</span></td>
            <td><span id="msg_total_tum_thai">{{totalTumThai}}</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Tum Poo</td>
            <td><span id="msg_num_tum_poo">{{numTumPoo}}</span></td>
            <td><span id="msg_total_tum_poo">{{totalTumPoo}}</span></td>
          </tr>
          <tr>
            <td></td>
            <td>Grand Total</td>
            <td></td>
            <td><span id="msg_grand_total">{{grandTotal}}</span></td>
          </tr>
        </tbody>
        </table>
   <br>
   <input type="button" name="btn_change" id="btn_change" onclick="window.location.replace('/kratai-bin/order')" value="Change">
   <input type="submit" name="btn_confirm" id="btn_confirm" value="Confirm">
   </form> 

</body>
</html>