<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kratai Bin - Order</title>

    <script>
      var numTumThai, numTumPoo;
        function init() {
            numTumThai = {{numTumThai}};
            numTumPoo = {{numTumPoo}};
            if (numTumThai+numTumPoo>0)
              document.getElementById("btn_check_out").disabled = false;
        }

        function addTumThai() {
            if (numTumThai<3) {
              numTumThai++;
              document.getElementById("txt_tum_thai").value = numTumThai.toString();
            } else {
              alert("ERROR: Maximum number of order of each item is 3.");
            }
            document.getElementById("btn_check_out").disabled = false;
        }
        function addTumPoo() {
            if (numTumPoo<3) {
              numTumPoo++;
              document.getElementById("txt_tum_poo").value = numTumPoo.toString();
            } else {
              alert("ERROR: Maximum number of order of each item is 3.");
            }
            document.getElementById("btn_check_out").disabled = false;
        }
        
    </script>
</head>

<body onload="init()">
   <h1>Order</h1>

   <form action="/kratai-bin/confirm" method="get">
    <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Item</th>
            <th>Price</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Tum Thai</td>
            <td>100</td>
            <td><input type="text" name="txt_tum_thai" id="txt_tum_thai" readonly="readonly" value="{{numTumThai}}"> <a id="add_tum_thai" href="javascript:void(0)" onclick="addTumThai()">Add</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Tum Poo</td>
            <td>120</td>
            <td><input type="text" name="txt_tum_poo" id="txt_tum_poo" readonly="readonly" value="{{numTumPoo}}"> <a id="add_tum_poo" href="javascript:void(0)" onclick="addTumPoo()">Add</a></td>
          </tr>
        </tbody>
        </table>
   <br>
   <input type="submit" name="btn_check_out" id="btn_check_out" value="Check out" disabled>
   <input type="button" name="btn_cancel" id="btn_cancel" onclick="window.location.replace('/kratai-bin')" value="Cancel" />
   </form> 
  
</body>
</html>