<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kratai Bin - Order</title>

    <script>
        function init() {
            numTumThai = 0;
            numTumPoo = 0;
        }

        function addTumThai() {
            document.getElementById("msg_error").style.display = 'none';
            if (numTumThai<3) {
                numTumThai++;
                document.getElementByName("txt_tum_thai").value = numTumThai.toString();
            } else {
                document.getElementById("msg_error").style.display = 'block';
            }
        }
        function addTumPoo() {
            document.getElementById("msg_error").style.display = 'none';
            if (numTumPoo<3) {
                numTumPoo++;
                document.getElementByName("txt_tum_poo").value = numTumPoo.toString();
            } else {
                document.getElementById("msg_error").style.display = 'block';
            }
        }
        
    </script>
</head>

<body onload="init()">
   <h1>Order</h1>

   <form action="/kratai-bin/confirm" method="get">
    <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Item</th>
            <th>Price</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Tum Thai</td>
            <td>100</td>
            <td><input type="text" name="txt_tum_thai" disabled value="0"> <a id="add_tum_thai" href="javascript:void(0)" onclick="addTumThai()">Add</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Tum Poo</td>
            <td>120</td>
            <td><input type="text" name="txt_tum_poo" disabled value="0"> <a id="add_tum_poo" href="javascript:void(0)" onclick="addTumPoo()">Add</a></td>
          </tr>
        </tbody>
        </table>
   <br>
   <div id="msg_error" style="color:red; display:none;">ERROR: Maximum amount of each item is 3.</div>

   <input type="submit" name="btn_order" value="Order">
   <input type="button" name="btn_cancel" onclick="window.location.replace('/kratai-bin')" value="Cancel" />
   </form> 
  
</body>
</html>